div#main-content {
    width: 80%;
    margin: 0 auto;
}

div#form-content {
    width: 30%;
    min-width: 300px;
    margin: 0 auto;
    text-align: center;
}

div#user-posts {
    margin: 0 auto;
    width: 50%;
}

div.index-style {
    background-color: #f2f2f2;
    padding: 5px;
    margin: 5px 0;
}

div.post-buffer {
    margin-bottom: 15px;
}

p.login-error {
    color: red;
    margin-right: 10px;
}

.edit-form-space {
    margin: 10px 0;
}

.logout {
    color: white;
    text-decoration: none;
}